<a href="https://colab.research.google.com/github/SanjanaSuresh30/ML_LAB_1BM22CS239/blob/main/1BM22CS239_Lab_1_ML_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# i. Load .csv file into the DataFrame
df = pd.read_csv("/content/housing.csv")

# ii. Display information of all columns
print("Column Information:\n")
print(df.info())

# iii. Display statistical information of all numerical columns
print("\nStatistical Information:\n")
print(df.describe())

# iv. Display the count of unique labels for the “Ocean Proximity” column
print("\nUnique Label Counts in 'Ocean Proximity' Column:\n")
print(df["ocean_proximity"].value_counts())

# v. Display attributes (columns) with missing values count greater than zero
missing_values = df.isnull().sum()
columns_with_missing_values = missing_values[missing_values > 0]

print("\nColumns with Missing Values (Count > 0):\n")
print(columns_with_missing_values)

Column Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Statistical Information:

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

Unique Label Counts in 'Ocean Proximity' Column:

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

Columns with Missing Values (Count > 0):

total_bedrooms    207
dtype: int64

In [20]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np

# Step 2: Load the Diabetes dataset
diabetes_df = pd.read_csv("/content/Dataset of Diabetes .csv")

# Step 3: Display dataset information
print("Dataset Information:\n", diabetes_df.info())

# Step 4: Check for missing values
print("\nMissing values in each column:\n", diabetes_df.isnull().sum())

# Step 5: Display categorical columns
categorical_cols = diabetes_df.select_dtypes(include=['object']).columns
print("\nCategorical columns:\n", categorical_cols)

# Step 6: Display the first few rows
print("\nFirst few rows of the dataset:\n", diabetes_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
Dataset Information:
 None

Missing values in each column:
 ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

Categorical columns:
 Index(['Gender', 'CLASS'], dtype='object')

First few rows of the dataset:
     ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

In [14]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

# Step 2: Load the Diabetes dataset
diabetes_df = pd.read_csv("/content/Dataset of Diabetes .csv")

# Step 3: Check for missing values
print("Missing values in Diabetes dataset:\n", diabetes_df.isnull().sum())

# Step 4: Handle missing values
# ----> Updated to only fill numeric columns with the mean
# Fill missing numerical values with mean for numeric columns only
numeric_cols = diabetes_df.select_dtypes(include=np.number).columns
diabetes_df[numeric_cols] = diabetes_df[numeric_cols].fillna(diabetes_df[numeric_cols].mean())

# Fill missing categorical values with mode
for col in diabetes_df.select_dtypes(include=['object']).columns:
    diabetes_df[col].fillna(diabetes_df[col].mode()[0], inplace=True)

# Step 5: Identify categorical columns and encode them
categorical_cols = ['Gender', 'CLASS']  # Adjust based on actual column names
label_enc = LabelEncoder()
for col in categorical_cols:
    diabetes_df[col] = label_enc.fit_transform(diabetes_df[col])

# Step 6: Apply Min-Max Scaling
min_max_scaler = MinMaxScaler()
diabetes_df_scaled = pd.DataFrame(min_max_scaler.fit_transform(diabetes_df), columns=diabetes_df.columns)

# Step 7: Apply Standardization
std_scaler = StandardScaler()
diabetes_df_standardized = pd.DataFrame(std_scaler.fit_transform(diabetes_df), columns=diabetes_df.columns)

# Step 8: Save the preprocessed datasets
diabetes_df_scaled.to_csv("/content/diabetes_preprocessed.csv", index=False)

# Create the 'content' directory if it doesn't exist
os.makedirs("content", exist_ok=True)

diabetes_df_standardized.to_csv("content/diabetes_standardized.csv", index=False)

print("Diabetes dataset preprocessing completed. Preprocessed datasets saved.")

Missing values in Diabetes dataset:
 ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64
Diabetes dataset preprocessing completed. Preprocessed datasets saved.

<ipython-input-14-655544fe6110>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  diabetes_df[col].fillna(diabetes_df[col].mode()[0], inplace=True)

In [17]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np

# Step 2: Load the Adult Income dataset
adult_df = pd.read_csv("/content/adult.csv")

# Step 3: Display dataset information
print("Dataset Information:\n", adult_df.info())

# Step 4: Check for missing values
print("\nMissing values in each column:\n", adult_df.isnull().sum())

# Step 5: Display categorical columns
categorical_cols = adult_df.select_dtypes(include=['object']).columns
print("\nCategorical columns:\n", categorical_cols)

# Step 6: Display the first few rows
print("\nFirst few rows of the dataset:\n", adult_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
Dataset Information:
 None

Missing values in each column:
 age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

Categorical columns:
 Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

First few rows of the dataset:
    age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [19]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

# Step 2: Load the Adult Income dataset
adult_df = pd.read_csv("/content/adult.csv")

# Step 3: Check for missing values
print("Missing values in Adult Income dataset:\n", adult_df.isnull().sum())

# Step 4: Handle missing values
# Fill missing categorical values with mode
for col in adult_df.columns:
    if adult_df[col].isnull().sum() > 0:
        adult_df[col].fillna(adult_df[col].mode()[0], inplace=True)

# Step 5: Identify categorical columns and encode them
categorical_cols = adult_df.select_dtypes(include=['object']).columns
label_enc = LabelEncoder()
for col in categorical_cols:
    adult_df[col] = label_enc.fit_transform(adult_df[col])

# Step 6: Apply Min-Max Scaling
min_max_scaler = MinMaxScaler()
adult_df_scaled = pd.DataFrame(min_max_scaler.fit_transform(adult_df), columns=adult_df.columns)

# Step 7: Apply Standardization
std_scaler = StandardScaler()
adult_df_standardized = pd.DataFrame(std_scaler.fit_transform(adult_df), columns=adult_df.columns)

# Step 8: Save the preprocessed datasets
adult_df_scaled.to_csv("/content/adult_preprocessed.csv", index=False)

# Create the 'content' directory if it doesn't exist
os.makedirs("content", exist_ok=True)

adult_df_standardized.to_csv("content/adult_standardized.csv", index=False)

print("Adult Income dataset preprocessing completed. Preprocessed datasets saved.")

Missing values in Adult Income dataset:
 age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64
Adult Income dataset preprocessing completed. Preprocessed datasets saved.